body 
{
margin: 0;	
padding: 0;
line-height: 1.5em;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #ffffff;
background: #250d0b url(images/BackgroundImage.jpg) top repeat-x;
}

a:link, a:visited { color: #fcdd31; text-decoration: underline; font-weight: normal; } 
a:active, a:hover { color: #fcdd31; text-decoration: none; }

p 
{
margin: 0px;
padding: 0px;
}

img 
{
margin: 0 0 15px 0;
padding: 0px;
}


.margin_right_40 { margin-right: 40px; }
.margin_right_60 { margin-right: 60px; }

.fl { float: left; }
.fr { float: right }

.header_01 
{
padding: 0 0 10px 0;
margin: 0 0 10px 0;
font-size: 16px;
color: #fbbc53;
font-weight: bold;
}

.header_02 a 
{
padding: 0 0 5px 0;
font-size: 12px;
font-weight: bold;
color: #fbbc53;
}

.header_03 {
padding: 0;
font-size: 11px;
color: #ffffff;
font-weight: bold;
}

#container 
{
width: 965px;
height:866px;
margin: 0 auto;
padding: 0 10px;
background: url(images/templatemo_container_bg.png) repeat-y;
}

#banner 
{
width: 966px;
height: 246px;
margin: 0 auto;
background: url(images/VisitEurope.jpg) no-repeat;
}

/* menu */

#menu {
clear: both;
width: 965px;
height: 42px;
background: url(images/templatemo_menu_bg.jpg) repeat-x;
float:right;
}

#menu ul 
{
float: left;
margin: 0px;
padding: 0 0 0 20px;
list-style: none;
}

#menu ul li 
{
margin: 0px;
padding: 0px;
display: inline;
}

#menu ul li a 
{
position: relative;	
float: left;
display: inline-block;
height: 30px;
width: 130px;
margin-right: 10px;
text-align: center;
padding: 12px 0 0 0;
font-size: 13px;
font-weight: bold;
text-decoration: none;
color: #ffffff;	
outline: none;
}

#menu li a:hover, #menu li .current 
{
position: relative;
color: #ffffff;
background: url(images/templatemo_menu_hover_right.jpg) top right no-repeat;
}

#enu li a:hover span, #menu li .current span	
{
position: absolute;
display: inline-block;
width: 15px;
height: 42px;
top: 0;
left: 0;
background: url(images/templatemo_menu_hover_left.jpg) no-repeat;
}

/* end of menu */

/* content */

#content 
{
padding: 0 20px;
}

.column_w210 
{
padding: 0 20px;
margin-top: 40px;	
width: 185px; /* width 205 */
}

.column_w430 
{
padding: 0 20px;
margin-top: 40px;	
width: 470px; /* width 470 */
padding: 0 0 10px 0;
margin: 0 0 10px 0;
font-size: 16px;
color:#fbbc53;
font-weight: bold;
}

#booking
{
color:green
width:200px;

}



.column_w920 
{
width: 880px;
padding: 0 20px;
}

.column_w190 
{
width: 190px;
}

.column_w430 p 
{
text-align: justify;
margin-bottom: 15px;
}

.category_list 
{
margin: 0px;
padding: 10px;
list-style: none;
}

.category_list li a 
{ 
color: #cccccc;
text-decoration: none;
font-size: 13px;
font-weight: bold;
}

.category_list li a:hover 
{ 
color: #fcdd31;
}
	
/* end of content */

/* footer */

#footer
{
clear: both;
width: 966px;
padding: 15px 0 15px 0;
text-align: center;
border-top: 1px solid #8b8a8b;
background: #343233 url(images/NciFireballs.jpg) no-repeat;
}

.footer_list 
{
margin: 0px;
padding: 0px;
list-style: none;
}

.footer_list li 
{
padding: 0 10px;
display: inline;
border-right: 1px solid #cccccc;
}

.footer_list li a 
{
color: #cccccc;
text-decoration: none;
}

.footer_list li a:hover 
{
color: #fcdd31;
}

.footer_list .last 
{
border-right: none;
}

/* end of footer */